<div id="content-container">
    <app-management-title text="Taskuri deschise" class="mb-3"></app-management-title>
    <div id="button-container" class="d-flex mb-3">
        <app-management-button text="Adauga Task" class="p-2"></app-management-button>
        <app-management-button text="Adauga Membru" class="p-2"></app-management-button>
        <app-management-button text="Filtreaza" class="ms-auto p-2"></app-management-button>
    </div>
    <div id="card-container">
        
    </div>
</div>