/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: management-title;
	src: url("./assets/fonts/title.ttf");
}

@font-face {
	font-family: management-text;
	src: url("./assets/fonts/text.ttf");
}

$main-color: #26a69a;
$main-color-accent: #00897b;

* {
	margin: 0px;
}

html {
  width: 100%;
}

body {
  width: 100%;
}
